<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace相对于此mapper的唯一标识 -->
<mapper namespace="com.yonyou.test1.userMapper">
	<select id="getUserById" parameterType="int" resultType="com.yonyou.bean.User">
		select * from users where id = #{id}
	</select>
</mapper>