<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace相对于此mapper的唯一标识 -->
<mapper namespace="com.yonyou.test4.userMapper">
	<select id="getUserById" parameterType="int" resultType="User">
		select * from users where id = #{id}
	</select>
	<insert id="addUser" parameterType="User">
		insert into users(name,age) values (#{name},#{age})
	</insert>
	<update id="updateUser" parameterType="User">
		update users set name = #{name}, age = #{age} where id = #{id}
	</update>
	<delete id="deleteUser" parameterType="int">
		delete from users where id = #{id}
	</delete>
	<select id="getAllUser" resultType="User">
		select * from users
	</select>
</mapper>